* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {
    background-color: black;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
    background-color: white;
    position: fixed;
    top: 0px;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.likes{
    width: 100%;
    
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
   
}
.like{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    cursor: pointer;
}
.icn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.like-con{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    
}
.logo {

    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: sans-serif;


}
.red{
    color: red;
    font-weight: bolder;
}


.link {

    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 2rem;
    color: white;

}

a {
    text-decoration: none;
    color: white;
}
.headers{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
     border-bottom: 1px solid;
}
.hero {


    display: flex;
    align-items: center;
    justify-content: center;
     flex-wrap: wrap;
    margin-top: 80px;


}

.text-area {
    border-radius: 10px;
    margin-top: 50px;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid;
    border-color: black;


}

textarea:focus {
    border: none;
}

.areas {
    object-fit: cover;
}

.area {
    width: 500px;
    height: 250px;
    padding: 10px;
    font-size: 1.2rem;
}

.area:focus {
    outline: none;
}

input {
    padding: none;
}

.items {
    width: 500px;

    display: flex;
    align-items: center;
    justify-content: space-around;
   
    padding: 10px 0px;

}
input{
    border: none;
    background-color: transparent;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;


    gap: 10px;
}

li {
    width: 100%;
    list-style: none;
    cursor: pointer;
    text-align: center;
}

.items-width {
    width: 60px;
    height: 30px;
}

.items>img {
    width: 100%;
    object-fit: cover;
}

button {
    width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: rgb(75, 75, 221);
    color: white;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:580px) {
    .text-area {
        border-radius: 10px;
        margin-top: 50px;
        width: 450px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .area {
        width: 400px;
        height: 250px;
        padding: 10px;
       /*  */
    }
}

@media screen and (max-width:450px) {
    .text-area {
        border-radius: 10px;
        margin-top: 50px;
        width: 320px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .area {
        width: 300px;
        height: 160px;
        padding: 10px;
        font-size: 1rem;
    }

    .items {
        width: 300px;

        display: flex;
        align-items: center;
        justify-content: space-around;


    }

    .items-width {
        width: 40px;
        height: 20px;
    }
}


.inp{
    width: 100%;
    height: 25px;
    border-radius: 30px;
    border: 1px solid;
    text-align: center;
    justify-content: center;
}
.inp:focus{
    outline: none;
}