*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
    background-color: black;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
    background-color: white;
    position: fixed;
    top: 0px;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.logo{
    
    display: flex;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    font-family: sans-serif;
    

}
.link{
    
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 2rem;
    color: white;

}
a{
    text-decoration: none;
    color: white;
}
.hero{
    
    
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin-top: 80px;
   
    
}
.text-area{
    border-radius: 10px;
    margin-top: 50px;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.area{
    width: 500px;
    height: 250px;
    padding: 10px;
    font-size: 1.2rem;
}
.area:focus{
    outline: none;
}
.items{
    width: 500px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
   
   
    gap: 10px;
}

li{
    width: 100%;
    list-style: none;
    cursor: pointer;
}

.items-width{
    width: 60px;
    height: 30px;
}
.items > img{
    width: 100%;
    object-fit: cover;
}
button{
    width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: rgb(75, 75, 221);
    color: white;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:580px) {
    .text-area{
        border-radius: 10px;
        margin-top: 50px;
        width: 450px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .area{
        width: 400px;
        height: 250px;
        padding: 10px;
        font-size: 1rem;
    }
}
@media screen and (max-width:450px) {
    .text-area{
        border-radius: 10px;
        margin-top: 50px;
        width: 320px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .area{
        width: 300px;
        height: 160px;
        padding: 10px;
        font-size: 1rem;
    }
    .items{
        width: 300px;
        
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px 0px;
        
    }
    .items-width{
        width: 40px;
        height: 20px;
    }
}